<div class="flex h-screen">
    <div class="w-16 h-screen flex flex-col items-center justify-between py-8" id="inner-bg">
        <h2 class="font-bold text-blue-100 text-2xl">F</h2>
        <i class="fa-solid text-gray-300 fa-arrow-right-from-bracket text-xl cursor-pointer"></i>
    </div>
    middle div
    <div class="w-3/12 h-screen pt-7 border-l-0" id="middle-div">
        <div>
            <div class="w-full h-10 flex px-5 items-center justify-between">
                <h4 class="font-semibold text-gray-300 text-xl mb-2">Messages</h4>
            </div>
            <hr class="border-gray-500">
        </div>
        <div class="">
            <input type="text" class="px-2 w-11/12 rounded-md m-auto text-gray-100 py-1.5 mt-2 outline-none placeholder-gray-300" id="inner-bg" placeholder="Search">
        </div>
        content
        <div class="h-4/5 px-2 flex flex-col overflow-y-scroll font-semibold" id="">
            persons icon
            <div class="w-full h-12 flex items-center mt-4 transition duration-300 cursor-pointer rounded-l-full hover:bg-indigo-500 rounded-r-3xl">
                <div class="w-10 h-10 rounded-full bg-white flex items-center justify-center">
                    <i class="fa-solid fa-user text-xl text-gray-300"></i>
                </div>
                <h3 class="text-gray-100 ml-3">kelvin</h3>
            </div>
            <div class="w-full h-12 flex items-center mt-4 transition duration-300 cursor-pointer rounded-l-full rounded-r-3xl" id="mainer-bg">
                <div class="w-10 h-10 rounded-full bg-white flex items-center justify-center">
                    <i class="fa-solid fa-user text-xl text-gray-300"></i>
                </div>
                <h3 class="text-gray-100 ml-3">Fola</h3>
            </div>
            <div class="w-full h-12 flex items-center mt-4 transition duration-300 cursor-pointer rounded-l-full rounded-r-3xl" id="mainer-bg">
                <div class="w-10 h-10 rounded-full bg-white flex items-center justify-center">
                    <i class="fa-solid fa-user text-xl text-gray-300"></i>
                </div>
                <h3 class="text-gray-100 ml-3">Dolapo</h3>
            </div>
        </div>
    </div>
    right div
    <div class="w-9/12 h-screen flex flex-col justify-between" id="inner-bg">
        major user
        <div class="flex justify-between items-center px-10 pt-10 w-full border-b border-gray-500">
            <h4 class="text-gray-100 font-semibold text-2xl pb-2">Kelvin</h4>
        </div>
        <div class="h-5/6 border-b border-gray-100 w-full">

        </div>
        <div class="h-20 w-full flex flex-row items-center justify-around">
            <input type="text" class="rounded-md w-4/5 h-10 px-5 outline-none" placeholder="Enter a message">
            <div class="w-10 h-10 rounded-full flex justify-center items-center">
                <i class="fa-solid fa-paper-plane text-2xl text-gray-300"></i>
            </div>
        </div>
    </div>
</div>